/* 헤더 */
#main-header{
    height: 50px;
    background: #ffffff;
    position: relative;
}

.header-search-form { float: left; }
.header-menu { float: right; }
.header-title {
    position: absolute;
    width: 200px; height: 60px;
    left: 50%; margin-left: -50px;
    background-image: url("../images/phone.png");
    background-repeat: no-repeat;
    text-indent: -9999px;
}

/* 메뉴 */
.outer-menu {
    float: left;
    width: 100px; height: 20px;
    line-height: 20px;
    padding: 10px 0;
    position: relative;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    z-index: 9999;
    margin-right: 50px;
}
.outer-menu:hover { background-color: #b1b1b1;}

.inner-menu {
    display: none;
    background: #ffffff;
    margin-top: 10px;
    width: 300px;
    height: 30px;
    border-top: 1px solid #ffffff;
    box-shadow: 0 2px 4px rgba(34, 25, 25, 0.5);
}

.inner-menu2 {
    display: none;
    background: #ffffff;
    margin-top: 10px;
    width: 150px; /* 아우터 메뉴 값의 100% */
    height: 30px;
    border-top: 1px solid #ffffff;
    box-shadow: 0 2px 4px rgba(34, 25, 25, 0.5);
}

.inner-menu a {
    display: block;
    padding: 5px 10px;
    z-index: 5000;
}

.inner-menu2 a {
    display: block;
    padding: 5px 10px;
    z-index: 5000;
}

.inner-menu:hover { background-color: #d8d8d8; }
.inner-menu2:hover { background-color: #d8d8d8; }

/* 메인 네비게이션 */
#main-navigation {
    height: 30px;
    background-color: #ffffff;
    border-top: 1px solid #cfcaca;
    box-shadow: 1px 3px 3px rgba(34, 25, 25, 0.4);
}

#main-navigation > ul {
    overflow: hidden;
    text-align: center;
}

#main-navigation > ul > li {
    display: inline;
    padding: 0 5px;
    line-height: 30px;
    font-size: 13px;
    color: #524d4d;
    text-shadow: 0 1px 1px white;
}

#main-navigation > ul > li:hover {
    background: #e1dfdf;
    border-radius: 2px;
}

/* 검색양식 */
.header-search-form {
    padding: 7px;
}

.input-search {
    display: block;
    float: left;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 15px 0 0 15px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5);
    height: 26px;
    /* 교안 코드 */
    /* width: 120px;
    height: 24px;
    padding: 0 0 0 10px;
    font-size: 12px;
    color: #555555; */
}

.input-search:focus {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5);
    outline: 0;
    border-color: rgba(82, 168, 236, 0.8);
}

.input-submit {
    display: block;
    float: left;
    width: 50px; height: 26px;
    border-radius: 0 15px 15px 0;
    border: 1px solid #cccccc;
    margin-left: -1px;
    /* vertical-align: top; */
}